# Archivos o carpetas específicos
nombre-del-archivo
carpeta/

# Todos los archivos .log
*.log

# Carpeta build en cualquier nivel
build/

# Ignorar todos los archivos .tmp en el directorio actual y sus subdirectorios
**/*.tmp


.metadata/